* {
  padding: 0px;
  margin: 0px;
  box-sizing: border-box;
}

/* banner start  */
.banner {
  background-image: linear-gradient(
      0deg,
      rgb(18, 18, 18),
      rgba(18, 18, 18, 0) 100%
    ),
    url("../images/donation2.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  height: 550px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0px auto 50px auto;
}
.banner-content {
  width: 62%;
  text-align: center;
}
.banner-content a {
  text-decoration: none;
}
.banner-title {
  font-size: 65px;
  font-weight: bold;
  color: white;
  margin-bottom: 20px;
}
.banner-paragraph {
  text-align: center;
  color: white;
  margin-bottom: 40px;
}
.btn {
  padding: 15px 25px;
  border-radius: 5px;
  background: rgb(255, 89, 89);
  border: none;
  color: white;
  outline: none;
}

/* banner end  */

.donate-today {
  width: 60%;
  margin: 0px auto 50px auto;
}
.donate-today-title {
  font-size: 45px;
  text-align: center;
  color: rgb(18, 18, 18);
  margin-bottom: 5px;
}
.donate-today-paragraph {
  text-align: center;
  color: rgb(112, 112, 112);
}
.donate-today-box {
  display: grid;
  grid-template-columns: repeat(5, 100px);
  grid-template-rows: 100px;
  gap: 20px;
  justify-content: space-around;
  margin: 40px 0px;
}
.donate-box {
  text-align: center;
  font-weight: bold;
  font-size: 20px;
  display: grid;
  justify-content: center;
  align-items: center;
  border-radius: 5px;
}
#box-2 {
  border: 2px solid rgb(255, 89, 89);
  border-radius: 5px;
  background: rgb(255, 238, 238);
  color: rgb(255, 89, 89);
}
.other{
    padding: 10px;
    color: rgb(179, 179, 179);
    border-bottom:1px solid rgb(218, 218, 218);
    margin-bottom: 5px;
    text-align: center;
}
